<div id="{{doc.slug}}" class="c-content-element">
	<h2 class="c-content-element__title">
		{{doc.name}}
	</h2>
	<div class="c-content-element__source">
		<span class="c-content-element__source__label">
			Source:
		</span>
		<span class="c-content-element__source__path">
			{{doc.filepathRelativeToInput}}
		</span>
	</div>
	<div class="c-content-element__description">
		{{markdown doc.description}}
	</div>
</div>
