.c-copy-button {
	position: absolute;
	top: .5rem;
	right: .5rem;
	font-size: 0.8em;
	font-weight: 500;
	color: #888;
}

.c-copy-button:focus,
.c-copy-button:hover {
	text-decoration: underline;
	cursor: pointer;
}
