.c-sidebar__header {

}

.c-sidebar__title {
	line-height: 40px;
}

.c-sidebar__logo {
	vertical-align: bottom;
}

.c-sidebar__item-list {
	padding-left: 0;
}

.c-sidebar__item {
	display: block;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.c-sidebar__category {
	margin-top: 1.5rem;
}

.c-sidebar__category__title {
	font-size: 1.3em;
	font-weight: 500;
	margin-bottom: 1rem;
}

.c-sidebar__link {
	border-bottom: 1px solid transparent;
}

.c-sidebar__link:hover {
	border-bottom-color: currentColor;
}


/**
 * Sidebar search filtering
 */

.c-hidden-by-filter {
	display: none !important;
}
.c-shown-by-filter {
	display: block !important;
}
.c-sidebar-list-group.i-filtered .collapse {
	display: block;
	height: auto !important;
}


/**
 * No results filter
 */

.c-sidebar__filter--no-results {
	display: none;
}
.c-sidebar-list-group.i-hidden-by-filter ~ .c-sidebar-filter-no-results {
	display: block;
}
.c-sidebar-list-group.i-shown-by-filter ~ .c-sidebar-filter-no-results {
	display: none;
}


/**
 * Footer
 */

.c-sidebar__footer {
	margin-top: auto;
}