.c-sidebar__footer {
	font-size: 14px;
	opacity: 0.3;
}

.c-content-element__source {
	display: block;
	font-size: 14px;
	color: #888;
}

.c-content-element__source-label {
	margin-right: 0.3em;
	font-weight: 700;
	text-transform: uppercase;
}

.c-content-element__source-path {
	font-family: "Source Code Pro", "Courier New", Courier, monospace;
}
